fastapi==0.135.2
langchain_core==1.2.23
langchain_openai==1.1.12
loguru==0.7.3
pydantic==2.12.5
PyJWT==2.12.1
python-dotenv==1.2.2
python_bcrypt==0.3.2
SQLAlchemy==2.0.48
sqlmodel==0.0.37
uvicorn==0.42.0
